
<html lang="en">
    <!-- Header info comes from head.ejs partial  -->
    <%- include('./partials/head.ejs') %>

<body>
    <!-- Navigation info comes from nav.ejs partial  -->
    <!--  %- include('./partials/nav.ejs') %>  -->

    <!-- Hi I'm Me Section-->
    <%- include('./partials/back-head-img.ejs') %>

   <!-- Title and loop through jobs  -->
    <%- include('./partials/job-info.ejs') %> 




    <!-- My Food Interest Section -->
    <%- include('./partials/my-interest.ejs') %>
   

    <!--  USE FLEXBOX FOR DISPLAYING IMAGES AND TEXT NEXT TO EACH OTHER  -->
    <%- include('./partials/social-media.ejs') %>

   
    

</body>
<footer>
    <!-- Footer info comes from footer.ejs partial  -->
    <%- include('./partials/footer.ejs') %>  
</footer>
</html>


