<html lang="en">
  <%- include('./partials/head.ejs') %>
<body>

  
  <%- include('./partials/back-head-img.ejs') %>
  
  <%- include('./partials/test-partial.ejs') %> 

  <%- include('./partials/social-media.ejs') %>

  <%- include('./partials/concepts.ejs') %>
  
</body>
<footer>
  <%- include('./partials/footer.ejs') %>  
</footer>
</html>


